/* Base CSS for the whole app - can override the Bootstrap default where needed */

body {
  /* Here we specify a Google Font included from cdn in index.html instead of the default bootstrap font, for example */
  font-family: 'PT Sans', 'Helvetica Neue', sans-serif;
}

.background-image {
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 100%;
  width: auto;
}

.questions-feature-img {
  position: relative;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  height: auto;
}

.centre-img  {
  padding-top: auto;
  margin-top: auto;
  width: 100%;
}

.bold-text {
  font-weight: 700;
}

.btn {
  border-radius: 1rem;
}

.larger {
  font-size: 1.5rem;
}