/* Base CSS for the whole app - can override the Bootstrap default where needed */

body {
  /* Here we specify a Google Font included from cdn in index.html instead of the default bootstrap font, for example */
  font-family: 'PT Sans', 'Helvetica Neue', sans-serif;
}

.background-image {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}

.questions-feature-img {
  position: relative;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  height: auto;
}

.centre-img  {
  padding-top: auto;
  margin-top: auto;
  width: 100%;
}

.bold-text {
  font-weight: 700;
}

.btn {
  border-radius: 1rem;
}

.larger {
  font-size: 1.5rem;
}

.img-small {
  max-height: 200px;
}

.survey > h5 {
  margin-top: 90px;
}

.logo {
  height: 120px;
  width: auto;
  padding: 0;
  margin: 0;
}

a.nav-link {
  font-size: 18px;
  padding: 3px 0;
}

a.nav-link:active {
  text-decoration: underline;
  text-decoration-color: #e83e8c;
}

.btn-lg {
  width: 400px;
  max-width: 80vw;
}

.network-img {
  width: 100%;
  height: auto;
  padding: auto;
  padding: 50px;
}

.peernet-img {
  width: 100%;
  height: auto;
}